<div class="services-area pt-100 bg-1a1e42">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Demonstrations</span>
            <h2>We defend the right to express ourselves without fear of censorship.</h2>
        </div>
        <div class="services-slides">
            <owl-carousel-o [options]="servicesSlides">
                <ng-template carouselSlide *ngFor="let evento of eventos">
                    <div class="single-services-item">
                        <a routerLink="/services-details" class="image d-block">
                            <img src={{evento.imagenUrl}} alt="services-image">
                        </a>
                        <div class="content">
                            <div class="icon">
                                <i class="flaticon-cart"></i>
                            </div>
                            <h3><a routerLink="/services-details">{{evento.nombre}}</a></h3>
                            <p>{{evento.fecha}} - {{evento.descripcion}}</p>
                            <a routerLink="/services-details" class="link-btn">Read More <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                                
            </owl-carousel-o>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
</div>