<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Regulations for the Presidential Election
                </li>
            </ul>
            <h1>Regulations for the Presidential Election</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Terms & Conditions Area -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="terms-conditions-content">
            <h4>Regulations for the Presidential Election</h4>
            <p>These regulations are the result of a broad and prolonged deliberative process carried out in all the
                structures of the Movement, to adjust the regulations approved in 2017 to the current conditions
                characterized by the great growth and rise of our Movement as well as the new geopolitical scenario. The
                purpose of this regulation is to guarantee a transparent process that faithfully expresses the wishes of
                our members.</p>
            <p>To do this, the following steps have been followed:</p>
            <ul>
                <li>Analysis and correction of its precedent by the Executive Council registered in our blog with date
                    and data (Agreement #01 C.N./February 19, 2017).</li>
                <li>Analysis and corrections of the new regulation proposal in the Expanded Council of the Movement
                    (Executive Council and Coordinators of Somos+ Clubs).</li>
                <li>Analysis and corrections in meetings of the Extended Council with all its members.</li>
            </ul>
            <p><strong>Article 1.</strong> Every four years the Executive Council will convene, in the voice of the
                Secretary of Communications, free and democratic elections to elect or re-elect the position of
                President of the Somos+ Political Movement, two months prior to the electoral process.</p>
            <p><strong>Article 2.</strong> All members of the Movement with a minimum of three months seniority on their
                registration dates have the right to vote.</p>
            <p><strong>Article 3.</strong> At the proposal of the Executive Council, an "Electoral Commission" will be
                formed which, based on its programming, will have the responsibility of directing and methodologically
                organizing the entire process as well as counting the votes and publicizing the final results in %. This
                commission will be made up of:</p>
            <ul>
                <li>Head of Commission</li>
                <li>1 rector in Cuba</li>
                <li>1 rector in the United States</li>
                <li>1 rector in Latin America</li>
                <li>1 rector in Europe</li>
                <li>Invited honorable figures or external observers</li>
            </ul>
            <p>(The rectors of each region will be chosen by the Enlarged Council of the Movement: Clubs of each region)
            </p>
            <p><strong>Article 4.</strong> The Electoral Commission regulates and guarantees that every candidate has
                the possibility and media coverage to campaign (blog, debates, articles, social networks), with the
                purpose of making the presidential agenda public, this guaranteeing equal conditions. for each
                candidate. (One article for each candidate per week of up to three pages, accompanied by a video if he
                prefers).</p>
            <p><strong>Article 5.</strong> Any active member who, within the constitutional framework of our "Ideas and
                Principles", meets the following requirements, may compete for the position of President of the Somos+
                Political Movement:</p>
            <ul>
                <li>Being born in Cuba.</li>
                <li>Be over 18 years of age.</li>
                <li>Be an example of ethical, civic and professional authority.</li>
                <li>Have at least two years of militancy within the Movement.</li>
            </ul>
            <p><strong>Article 6.</strong> The number of candidates must be in proportion to the number of active
                members of the Movement and/or its territorial structure. At least two candidates will be required to
                carry out the elections. Candidacies may be submitted from any level of the Movement hierarchy,
                including, in a personal capacity.</p>
            <p><strong>Article 7.</strong> The use of financial resources for the elaboration of messages that each
                candidate has for their campaign is the responsibility of the Movement, in accordance with our financial
                policy and availability of resources.</p>
            <p><strong>Article 8.</strong> The outgoing President must not issue favorable or unfavorable criteria about
                any of the candidates during the election process.</p>
            <p><strong>Article 9.</strong> Any person who, having complied with the requirements established in Article
                4, has been democratically elected reaching fifty percent plus one of the total votes, may hold the
                office of President. In the event that no candidate reaches that figure, another round will be held one
                week after the first. The two candidates with the most votes would go to the second round.</p>
            <p><strong>Article 10.</strong> The head of the Electoral Commission or, in his place, the person designated
                by the Commission, makes the official announcement of the winner of the elections, informing the number
                of votes obtained and the percentage of the total. The announcement will be made in two formats: written
                and audiovisual. It must be published on the Movement's blog without delay. Forty-five days after the
                publication of this announcement begins the full exercise of the prerogatives and powers of the new
                President. The outgoing President maintains his functions until that day.</p>
            <p><strong>Article 11.</strong> The person elected for the position of President may exercise his functions
                for a period of four years, with the possibility of being reelected for only four more years.</p>
            <p><strong>Article 12.</strong> The elections for President of the Movement will be held between the first
                and fifteenth of October of the last year of the President.</p>

            <p>Last updated: January 15, 2024 at 10:00 am</p>
            <!--<h4>Our website</h4>
            <p>Our website address is: <a routerLink="/" target="_blank">https://mevic.com/</a></p>-->
        </div>
    </div>
</div>