<div
    class="about-area pt-100"
    [ngClass]="{'pt-0': router.url === '/index-2'}"
>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="about-image">
                    <img src="assets/img/about/about12.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="about-content">
                    <span class="sub-title">ABOUT US</span>
                    <h2>No One Can Be Above The Law Or Outside Its Protection.</h2>
                    <ul class="list">
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                "Individual freedom is crucial"
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                "Less government, more autonomy"
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                "Private property equals freedom"
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="flaticon-check-mark"></i>
                                "Free market fosters opportunities"
                            </span>
                        </li>
                    </ul>
                    <p>We believe that all citizens should elect those who govern us in the municipalities, provinces and the nation, by direct and secret ballot. Protected by a new Constitution that restores the autonomy of the three powers: legislative, executive and judicial; whose absolute independence is the only guarantee of real democracy.


                        This constitution should include the unavoidable premise of ensuring the full enjoyment of all the rights enshrined in the Universal Declaration of Human Rights. As well as additional rights that we establish as a nation. The constitution must become the most precious legal and moral instrument of society. And if something has to be irreversible and irrevocable in its content, let it be the highest values of democratic participation, respect for citizen sovereignty and diversity in all its manifestations, as eternal guarantees for peace and national fraternity.</p>
                    <!--<div class="ceo-info d-flex align-items-center">
                        <div class="signature">
                            <img src="assets/img/about/signature.png" alt="signature">
                        </div>
                        <div class="info d-flex align-items-center">
                            <img src="assets/img/about/ceo.png" alt="ceo">
                            <div class="title">
                                <h4>Dr. Leonard Girardi</h4>
                                <span>Founder & CEO</span>
                            </div>
                        </div>
                    </div>-->
                    <a routerLink="/register" class="default-btn style-two">
                        <i class="flaticon-calendar-1"></i>
                        Become a member!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> 