<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">LATEST BLOGS</span>
            <h2>Our latest insights are on top all times</h2>
        </div>
        <div class="row justify-content-center">          
            
            <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let blog of blogs">
                <div class="single-blog-post">
                    <a routerLink="/blog-details-3" class="image d-block">
                        <img src="{{blog.imagenUrl}}" alt="blog-image">
                    </a>
                    <div class="content">
                        <ul class="meta">
                            <li>
                                <img src="assets/img/blog/tag.svg" alt="tag">
                                <a routerLink="/blog-tag">{{blog.nombre}}</a>
                            </li>
                            <li>
                                <img src="assets/img/blog/calendar.svg" alt="tag">
                                {{blog.fecha}}
                            </li>
                        </ul>
                        <p maxlengt="100" maxlengt="50"><a routerLink="/blog-details" >{{blog.descripcion}}</a></p>
                    </div>
                </div>
            </div>      

        </div>
    </div>
</div>