<div class="main-banner-slides">
    <owl-carousel-o [options]="mainBannerSlides">
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg1"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Who we are?</span>
                        <h1>Somos+</h1>
                        <p>Was founded as a movement that calls for all Human Beings who wish to participate in the beautiful and difficult adventure of helping to build a modern, prosperous and free country.</p>
                        <div class="btn-box">
                            <a routerLink="/" class="default-btn">Our Board</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg2"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">Let's make the change!</span>
                        <h1>Help us to do it!</h1>
                        <p>Our movement is funded by donations from members and supporters.</p>
                        <div class="btn-box">
                            <a routerLink="/" class="default-btn">Donate now</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
      <!--  <ng-template carouselSlide>
            <div class="main-banner-area">
                <div class="bg-image bg3"></div>
                <div class="container-fluid">
                    <div class="main-banner-content">
                        <span class="sub-title">HEALTH FOR LIFE</span>
                        <h1>Get your COVID-19 booster in Mevic</h1>
                        <p>These types of caregivers are trained professionals who are qualified and have the experience, in helping patients to complete their recovery process.</p>
                        <div class="btn-box">
                            <a routerLink="/doctors" class="default-btn">Find A Doctor</a>
                            <a routerLink="/about" class="link-btn">More About Us <i class="ph-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template> -->
    </owl-carousel-o>
</div>