<!-- Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Mission
                </li>
            </ul>
            <h1>Mission</h1>
        </div>
    </div>
    <div class="shape5 animate__animated animate__fadeInDown">
        <img src="assets/img/shape/shape5.png" alt="shape">
    </div>
    <div class="shape6 animate__animated animate__fadeInUp">
        <img src="assets/img/shape/shape6.png" alt="shape">
    </div>
</div>

<!-- Privacy Policy Area -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <h4>Our website</h4>
            <p>Our website address is: <a routerLink="/" target="_blank">https://www.somosmas.net/</a></p>
            <h4>Politics</h4>
            <p>We believe that all citizens should elect those who govern us in the municipalities, provinces and the
                nation, by direct and secret ballot. Protected by a new Constitution that restores the autonomy of the
                three powers: legislative, executive and judicial; whose absolute independence is the only guarantee of
                real democracy.</p>
            <p>This constitution should include the unavoidable premise of ensuring the full enjoyment of all the rights
                enshrined in the Universal Declaration of Human Rights. As well as additional rights that we establish
                as a nation. The constitution must become the most precious legal and moral instrument of society. And
                if something has to be irreversible and irrevocable in its content, let it be the highest values of
                democratic participation, respect for citizen sovereignty and diversity in all its manifestations, as
                eternal guarantees for peace and national fraternity.</p>
            <p>No one can be above the law or outside its protection.</p>
            <h4>Political Forces</h4>
            <p> One of the distinctive features of any dictatorship, is that the political force who takes power, often
                by the arms, arrogates the power to veto all others, kidnapping people’s right to decide between
                different proposals.</p>
            <p>In Somos+ we aspire to a society where political forces are divided and balanced as horizontal as
                possible. Ensuring that every citizen in one way or another has a weight in decision-making. But in
                practice, even in the most developed countries, Parties are the main protagonists of the necessary
                ongoing political debate. In this respect we believe in the need for a Political Parties Act, which
                institutes the order and transparency from creation, campaigns, finance and the role of parties in the
                exercise of power.</p>
            <p>Once the rules are clear, we believe it is the people and only the people, the one entitled to give or
                take away confidence of a person or political organization, with the only weapon needed to develop the
                democratic process, the vote. Civic and law act, capable of rewarding good ideas and also to delete any
                puppet from public scenario.</p>
            <h4>Freedom speech</h4>
            <p> There can be no true democracy without the full freedom of expression for all citizens. This freedom
                cannot depend on political ideologies, religious beliefs, sexual orientation, or economic status.</p>
            <h4>Economy</h4>
            <p> Most of the economy should be managed by the hands and minds of all citizens. Self-employed or
                associated in the ways and under the conditions they freely choose according to their specific needs and
                efficiency of their companies, all governed by fair, logical and coherent laws being consistent with
                current times. Under a tax system that encourages growth, investment, job creation and simultaneously
                equip the country with the necessary resources in order to provide the highest quality services that
                exceptionally it is decided to operate publicly.</p>
            <p> The economy we need must be able to create the conditions to stop the emigration of the best young
                people, which weakens our intellectual force and contributes to a dangerous population ageing.</p>
            <p>It is necessary to legally establish a minimum wage, which is calculated taking into account the concept
                of real wages by a flexible mechanism that allows its constant adaptation to changes in the prices of
                products and services available in the market.</p>
            <h4>Education</h4>
            <p> Education should still be considered for what it is: a necessary and priority human right. But this
                process must be thought of in a universal way and with all the information that humanity has generated
                available to our students, without indoctrination of any kind, without a system of loyalties to myths
                and men. Education should be a vehicle for every individual to free himself and grow materially and
                spiritually, therefore it bears no ideological ties or power interests. Our motto must be: drink from
                all fountains taking as foundation the source of our nationality.</p>
            <p>Therefore, education provided by the state must be secular, and both this one and the one provided by
                religious institutions are to be permeated by the absolute freedom to teach and learn.</p>
            <p>The remuneration of teachers and professors should be commensurate with the importance of education in
                any society. Giving dignity to these architects of the spirit, is not only the guarantee of a better
                future, but also a moral duty of the nation.</p>
            <h4>Health</h4>
            <p>Access to healthcare, the same way as to education, is an indispensable bulwark for Cubans. But the
                precarious conditions in which our doctors perform their profession must be totally changed, respecting
                them by a decent payment for their noble and self-sacrificing work. The existence of private health
                centers
                should be allowed, which in parallel provide their services as an alternative option and also an
                important contribution towards the care quality that would benefit all patients.</p>
            <p>Solidarity in this field is a beautiful and necessary practice, but it should not be a straitjacket, nor
                a mechanism to exploit our doctors. They should be able to enjoy an adequate standard of living from
                their work within their country. Solidarity missions should not be a lifeline in the life of physicians.
            </p>
            <h4>Sports</h4>
            <p>The Cuban sport has to stop being private property of the state. Current situation that allows the
                government and the Communist Party to manipulate, extort and limit the international projection of our
                athletes, with political criteria being prevailing over genuine sporting interests of athletes and the
                people. The amateur and professional sport must coexist as in all advanced nations, assuming that in its
                essence, one does not deny the other.</p>
            <h4>Press</h4>
            <p>Information in the modern era has almost become a basic need product. No one should have absolute
                monopoly of the means producing and disseminating information content. The press should have a
                completely independent nature, so that its meaning, benefit and success depend solely on the credibility
                of those who consume it.</p>
            <h4>Agriculture</h4>
            <p>The sector that produces food in Cuba has historically been one of the most disadvantaged. Peasant
                families, especially in the eastern provinces of the country, often exhibit patterns of alarming poverty
                never reflected in the media. This situation forces thousands of people to migrate to cities, mainly
                saturating the Capital and leaving behind many rural towns that once had life, dynamics and production.
                The problem is complex and deep, comprising the political, structural, property issues and many other
                links in a chain of failures. But there are two parameters which reflect more harshly what happens in
                our fields, the first, the almost unaffordable prices which the scarce agricultural products on the
                market keep, with steady upward trend; the second, the volume of food the country is forced to import
                each year.</p>
            <p>Somos+ proposes a new model which gives back to peasants the right to decide upon their production,
                exerting for real their land ownership. No one from a comfortable bureau in Havana should dictate to our
                farmers what to plant, neither where nor by how much they must sell their products.</p>
            <h4>Armed Forces</h4>
            <p>The Cuban army is not limited to an armed institution with the constitutional responsibility of
                protecting the Country. It is a giant octopus with countless tentacles which intervene and seize
                practically everything, even our consciences. Is not possible to talk about a resource or process being
                left out of that grip, either visible or underhand. Hence its excessive scope, so harmful by nature to
                the economy and freedom.</p>
            <p>A small underdeveloped Country should need the contrary, a small army, however modern, effective and very
                professional. With well-paid officers being formed under the loyalty and respect to the constitution, to
                the laws and democratic institutions. An army that be a guarantor of people’s peace and not a personal
                guard to a few families.</p>
            <p>In fact, our goal should be having no need of any army and devoting all that extraordinary material and
                human capital to the acceleration of the Country development in more productive and uplifting spheres.
            </p>
            <h4>Ministry of the Interior</h4>
            <p>This military institution is the most important and strategic center of the government for the
                preservation of power. Its penetration towards the heart of society knows no boundaries neither legal
                nor moral. Everything is valid when it comes to defend the government. Regardless of the ones fallen by
                the wayside, the broken dreams, the mutilated families, the suffering, the frustration, the crying or
                mourning of those who have not understood that this game is not anymore about ideologies or projects of
                social construction, but about economic interests, the domination by some over others, and the
                unavoidable sickness that produces the excess in power.</p>
            <p>Somos+ believes that in order to achieve a future of tranquility and trust it is mandatory for the
                Ministry of the Interior to be rebuilt on new foundations. This ministry should accompany and protect
                the people, all the people, in its democratic, plural and participative everydayness. There should
                completely disappear all those repressive-ghost kind of activities which kidnap liberties and tie the
                dissenting tongues.</p>
            <p>The worse dishonor that can fall over a military under service, is the bloodstain of a compatriot.</p>
            <h4>Mass Organizations</h4>
            <p> Today the mass organizations in Cuba are ideological arms of its government whose real purpose is to
                control and manipulate large sectors. The Communist Party finances and trains the leaders of these
                structures. In such a way that most of the time they act promoting government policies even though they
                go against the ones they are meant to represent.</p>
            <p>Somos+ promotes that organizations arising from society must be the result of spontaneous will of its
                members to defend their rights and interests, especially the unions.</p>
            <h4>Environment</h4>
            <p> The care and conservation of our natural heritage and the necessary harmony between human development
                and its interaction with the environment has to become not only a natural state of awareness, but in
                living law and overriding priority of our practices in all areas.</p>
            <p>In the specific case of animals, Cuba desperately requires laws to protect them from the irresponsibility
                and abuse to which they are daily subjected before our eyes. In this sense, parallel to the legal
                aspect, it is vital to support the emergence and development of independent associations, clubs and
                movements which lead the necessary initiatives across the country. One can hardly be humanistic and not
                be an “animal supporter”. Sensitivity admits no exceptions.</p>
            <h4>Internet</h4>
            <p>The massive, high-speed network connection to the World Wide Web is vital for a society that aspires to
                economic, scientific and cultural growth of its members. In Cuba, the main obstacle that Internet faces
                is the government’s fear of losing the full control which till today it exerts over the people through
                mass media and communication.</p>
            <p>Somos+ strongly rejects this policy and has as one of its main objectives to ensure that all Cubans can
                exercise their legitimate right to be connected with the rest of the planet.</p>
            <p>Internet, the network of networks, is not “a wild horse that must be tamed” as someone of the historic
                leadership of our country said, the Internet is an inexhaustible source of knowledge and a genuine space
                of
                confrontation of the most diverse criteria. Prolonged internet shutdown causes a monstrous damage in our
                society that will be felt for years after the Internet be a reality for all Cubans.</p>
            <h4>The Movement Leadership</h4>
            <p> Somos+ will be led by a board of five members plus a secretary. Only one of them can reside abroad and
                represent emigration within the council.</p>
            <p>During the first year after the publication of this notice, a Foundation Council will be designated,
                whose primary responsibility will be to lay the groundwork for conducting the first election. This
                council will face the initial challenge of organizing and strengthening the movement.</p>
            <p>Once elections are scheduled, all members are entitled to apply for any of the responsibilities of the
                board.</p>
            <h4>Relationship with other political forces</h4>
            <p>In Somos+ we do not claim to be absolute owners of truth, therefore, we defend the right of all
                individuals, organizations, movements and parties to express and exercise active political
                participation, for or against our ideas and proposals.</p>
            <p>We believe that the rescue of political decency is not only a sign of civility and culture, but a vital
                need to the country’s development with the participation of all.</p>
            <p><b>Somos+ brings together people with ideas, we do not hire or purchase intentions.</b></p>
            <p> The only incentive that our movement can offer to its members is the ability to grow as human beings and
                satisfaction of fighting together for a present and a better future. Whoever wants something different,
                is looking in the wrong place. As a rule, we do not favor either the granting of visas to emigrate via
                political refugees. Although, exceptionally, it may happen that we see the need to appeal to that right,
                we do not promote it.</p>
            <p><b>Relationship with residents abroad</b></p>
            <p>Today, the number of Cubans living abroad is higher than the total population of several provinces. This
                diaspora, active and growing, is composed of men and women of all social strata, from all professions,
                religions and political tendencies. One could even say that we speak of a Cuba on a smaller scale,
                consisting of members of all families across the island. In the same way the grocer in a poor
                neighborhood has an uncle or son abroad, the most recalcitrant member of the politburo of the Cuban
                Communist Party
                has it too. So that it would be a deception and an intolerable fraud not to consider the residents
                abroad
                for what they are, Cubans like you and me, with all rights and why not, with all the duties we have
                facing
                the reconstruction of the country. Somos + recognizes these rights and counts on all those young at
                heart to
                integrate their ranks. As long as we share the same spirit to heal, grow and build.</p>
            <h6> Duties and rights of its members</h6>
            <p><b>Duties</b></p>
            <ul>
                <li>To contribute with his/her example and actions to the health of the organization.</li>
                <li>To make the greatest effort to properly form oneself.</li>
                <li>To practice respect and tolerance for anyone who has different political ideas, as well as to
                    officials and
                    authorities of any rank or institution in the country, hoping always to receive reciprocal
                    treatment.</li>
                <li>To pay the voluntary monthly fee.</li>
            </ul>
            <p><b>Rights</b></p>
            <ul>
                <li>To receive regular information about the activities of the movement as well as a comprehensive
                    report of
                    their finances.</li>
                <li>Voice and vote to elect every three years, the council to chair the movement.</li>
                <li>Voice and vote to approve or disapprove any change in the general policies of the movement, as well
                    as in
                    the queries made to make important decisions.</li>
                <li>To participate in an absolutely voluntary way in any action of the movement.</li>
                <li>Committing any criminal offense.</li>
                <li>Exercising violence in any form.</li>
                <li>Having contacts and acting in collusion with any foreign or Cuban intelligence body.</li>
                <li>Soliciting funds, acting on behalf of the movement, for personal gain.</li>
            </ul>
            <p><b>Economic support for the movement</b></p>
            <ul>
                <li>Each member will voluntarily contribute a membership fee which will help support the costs of the
                    movement.</li>
                <li>Donations</li>
                <li>Any natural or legal individual can make a voluntary donation to the movement -with the approval by
                    the
                    council- except the following cases.</li>
                <ul>
                    <li>
                        Any natural or legal individual can make a voluntary donation to the movement -with the approval
                        by the
                        council- except the following cases.
                    </li>
                    <li>
                        People whose resources come from illegal activities.
                    </li>
                    <li>
                        People who, through their donation wish to exercise any pressure or political influence in the
                        movement’s
                        principles.
                    </li>
                </ul>
                <li>
                    The movement may organize public activities and work to raise funds.
                </li>
            </ul>
            <h4>Final clarification</h4>
            <p>This document will be enriched with the participation of the members of the movement in constant debate
                on each proposal and according to the objective realities future and experience show us.</p>


            <p><b>Last updated: January 14, 2024 at 08:13 pm</b></p>
        </div>
    </div>
</div>